<h1>
  Liste de vos bouteilles
</h1>
<table mat-table [dataSource]="bs.bouteilles$">
  <ng-container matColumnDef="emplacement">
    <th mat-header-cell *matHeaderCellDef>
      Emplacement
    </th>
    <td mat-cell *matCellDef="let bouteille">
      {{ bouteille.emplacement }}
    </td>
  </ng-container>
  <ng-container matColumnDef="couleur">
    <th mat-header-cell *matHeaderCellDef>
      Couleur
    </th>
    <td mat-cell *matCellDef="let bouteille">
      {{ bouteille.couleur }}
    </td>
  </ng-container>
  <ng-container matColumnDef="appellation">
    <th mat-header-cell *matHeaderCellDef>
      Appellation
    </th>
    <td mat-cell *matCellDef="let bouteille">
      {{ bouteille.appellation }}
    </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>
      Type
    </th>
    <td mat-cell *matCellDef="let bouteille">
      {{ bouteille.type }}
      </td>
  </ng-container>
  <ng-container matColumnDef="millesime">
    <th mat-header-cell *matHeaderCellDef>
      Millésime
    </th>
    <td mat-cell *matCellDef="let bouteille">
      {{ bouteille.millesime }}
    </td>
  </ng-container>
  <ng-container matColumnDef="domaine">
    <th mat-header-cell *matHeaderCellDef>
      Domaine
    </th>
    <td mat-cell *matCellDef="let bouteille">
      {{ bouteille.domaine }}
    </td>
  </ng-container>
  <ng-container matColumnDef="garde">
    <th mat-header-cell *matHeaderCellDef>
      Temps de garde
    </th>
    <td mat-cell *matCellDef="let bouteille">
      {{ bouteille.garde }} an(s)
      </td>
  </ng-container>
  <ng-container matColumnDef="dateConso">
    <th mat-header-cell *matHeaderCellDef>
      Année de consomation précaunisée
    </th>
    <td mat-cell *matCellDef="let bouteille">
      {{ bouteille.dateConso }}
      </td>
  </ng-container>
  <ng-container matColumnDef="cepages">
    <th mat-header-cell *matHeaderCellDef>
      Cépages
    </th>
    <td mat-cell *matCellDef="let bouteille">
      <mat-list>
	<mat-list-item *ngFor="let cepage of bouteille.cepages">
	  {{ cepage }}
	</mat-list-item>
      </mat-list>
  </td>
  </ng-container>
  <ng-container matColumnDef="accompagnements">
    <th mat-header-cell *matHeaderCellDef>
      Accompagnements
    </th>
    <td mat-cell *matCellDef="let bouteille">
      <mat-list>
	<mat-list-item *ngFor="let accompagnement of bouteille.accompagnements">
	  {{ accompagnement }}
	</mat-list-item>
      </mat-list>
      </td>
  </ng-container>
  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef>
      Source
    </th>
    <td mat-cell *matCellDef="let bouteille">
      {{ bouteille.source }}
      </td>
  </ng-container>
  <ng-container matColumnDef="commentaire">
    <th mat-header-cell *matHeaderCellDef>
      Commentaire
    </th>
    <td mat-cell *matCellDef="let bouteille">
      {{ bouteille.commentaire }}
    </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
	Actions
      </th>
      <td mat-cell *matCellDef="let bouteille">
	<mat-action-list>
	  <button mat-list-item (click)="goForUpdate(bouteille.id)">
	    Modifier
	  </button>
	  <button mat-list-item (click)="toggleDegust(bouteille)">
	    {{ getDegustationState(bouteille) }}
	    </button>
	</mat-action-list>
      </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>>
</table>
