<section>
  <h1>
    Connectez-vous à votre espace mpcv.
  </h1>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onLogIn()">
    <mat-form-field>
      <mat-label>

	Entrez votre email
      </mat-label>
      <input
	id="email"
	matInput
	type="text"
	formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>
	Entrez votre mot de passe
      </mat-label>
      <input
	matInput
	id="pwd"
	type="password"
	formControlName="password" />
    </mat-form-field>
    <button
      mat-button
      [disabled]="!loginForm.valid"
      type="submit">
      Connection
    </button>
  </form>
</section>
